@import "./variables";

.container{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 5rem;
margin-top: 2rem;
gap: 2rem;
.card{
    padding: 1.5rem;
    max-width: 300px;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
    
}
img{

    width: 30%;
}

h1{
    color: $orange;
}
h2{

 color: $red;
}
p{
 color: $yellow;

}
}