/* Color Theme Swatches in Hex */
$The-Biggest-Lie-1-hex: #3D3D3D;
$The-Biggest-Lie-2-hex: #84B026;
$The-Biggest-Lie-3-hex: #217373;
$The-Biggest-Lie-4-hex: #173540;
$The-Biggest-Lie-5-hex: #161F30;


